*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/.name
/app/release/app-release.apk
/app/release/baselineProfiles/0/app-release.dm
/app/release/baselineProfiles/1/app-release.dm
/.idea/appInsightsSettings.xml
/.idea/compiler.xml
/.idea/deploymentTargetSelector.xml
/.idea/gradle.xml
/.idea/kotlinc.xml
/.idea/migrations.xml
/.idea/misc.xml
/app/release/output-metadata.json
/.idea/inspectionProfiles/Project_Default.xml
/.idea/studiobot.xml
/.idea/vcs.xml
